#root {
  padding: 25px;
  padding-left: 20px;
  max-width: 50%;
}

.ban {
  padding: 7px;
}

.div_button {
  width: 14%;
  margin-left: auto;
  margin-right: auto;
}

.specialButton {
  width: 125px;
}

